@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    font-family: 'VT323', sans-serif;
}

body {
    background-color: black;
    color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
}

/* Text */

p.txt__bottom {
    display: flex;
    /* position: absolute;
    bottom: 0; */
    max-height: 40vh;
    background-color: rgba(128, 128, 128, 0.403);
    padding: 10px 5px 10px 5px;
    overflow: auto;
    scroll-behavior: initial;
    text-anchor: end;
    overflow-anchor: auto;
}

strong {
    color: white;
    font-weight: bold;
}

/* image */

.img__place {
    background-image: url(../img/d14a6a3d2604eb01c1fe465e15b7a05f_t.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: max-content;
    border: 3px solid;
}

div.div__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}

#currentLocation, .navlist__item {
    border: 3px solid green;
    font-size: 1.5em;
    font-weight: bold;
    padding: 3px 10px 3px 10px;
}

#playerInput {
    background-color: rgba(128, 128, 128, 0.403);
    color: green;
}

#playerInput::before {
    content: ">";
    color: green;
}

#playerInput:focus {
    outline: none;
}

#btnSubmit {
    display: none;
}

.character__wrapper {
    display: flex;
    flex-wrap: wrap;
}

img.character_image {
    border: 2px solid;
    height: auto;
    max-width: 40%;
}

div.character {
    align-items: start;
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.stats {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
}

.stats p {
    height: 1px;
}

.content__top {
    display: flex;
}

.content__right {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    border: solid 1px;
}

.inventory {
    width: 100%;
    margin: 10px;
}

.inventory p {
    text-align: center;
    border-bottom: solid 2px green;
}

.content__left {
    display: flex;
}

#currentLocation {
    margin: 0 5px;
}

/* logo */

.img__logo {
    width: max-content;
}

.div__logo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navlist__link {
    color: green;
    text-decoration: none;
    padding: 5px 10px;
    border: 3px solid;
    cursor: pointer
}

li.navlist__item {
    list-style: none;
    border: none;
}

.navlist__link:hover {
    color: black;
    background-color: green;
    border: 3px solid;
    transition: background 0.3s , color 00.3s;
}

.navlist__link:active{
animation: transitionClose 1s;
}

ul {
    padding: 0
}

body {
    animation: transitionOpen 1s;
}

/* The End */

.p__end {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

/* GAME OVER */
.ul__gameover {
    display: flex;
}

.navlist__linkStop{
    color: red;
    text-decoration: none;
    padding: 5px 10px;
    border: 3px solid;
    cursor: pointer
}
.navlist__linkStop:hover {
    color: black;
    background-color: red;
    border: 3px solid;
    transition: background 0.3s , color 00.3s;
}

/* https://www.youtube.com/watch?v=zWB219zf1og */

@keyframes transitionOpen {
    from {
        opacity: 0;
    }    
    to {
        opacity: 1;
    }
}

@keyframes transitionClose {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.keyword {
    color: white;
    font-weight:bold;
}