@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    font-family: 'VT323', sans-serif;
}

body {
    background-color: black;
    color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
}

/* Text */

p.txt__bottom {
    /* display: flex; */
    /* position: absolute;
    bottom: 0; */
    max-height: 30vh;
    background-color: rgba(27, 26, 26, 0.403); 
    padding: 10px 5px 10px 5px;
    overflow: auto;
    scroll-behavior: initial;
    text-anchor: end;
    overflow-anchor: auto;
}

strong {
    color: white;
    font-weight: bold;
}

#deathMessageDisplay {
    color: red;
}

.navDeath {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* image */

.img__place {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: max-content;
    border: 3px solid;
}

#imgEnvironnement {
    display: none;
}

div.div__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__right.hidden, .hidden {
    display: none;
}

#currentLocation, .navlist__item, #playTime {
    border: 3px solid green;
    font-size: 1.5em;
    font-weight: bold;
    padding: 3px 10px 3px 10px;
}

#currentLocation, #playTime {
    width: 90%;
}

#currentLocation {
    margin: 0 5px;
}

#playerInput {
    background-color: rgba(128, 128, 128, 0.403);
    color: green;
}

#playerInput::before {
    content: ">";
    color: green;
}

#playerInput:focus {
    outline: none;
}

#btnSubmit {
    display: none;
}

#errorMessage {
    color: red;
}


img.character_image {
    border: 2px solid;
    height: auto;
    max-width: 40%;
}

div.character {
    align-items: start;
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.stats {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
}

.stats p {
    height: 1px;
}

.content__top {
    display: flex;
}



.content__right {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    border: solid 1px;
}

.armory_inventory {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.weapon, .shield {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weapon_image, .shield_image {
    margin-right: 5px;
    width: 15px;
    height: 15px;
}

.character__wrapper {
    display: flex;
    flex-direction: column;
}

.generic_inventory {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.generic_inventory p {
    justify-content: center;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: solid 2px green;
    border-top: solid 2px green;
    width: 100%;
}

#inventoryContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__left {
    display: flex;
    flex-direction: row;
}



/* logo */

.img__logo {
    width: max-content;
}

.div__logo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navlist__link {
    color: green;
    text-decoration: none;
    padding: 5px 10px;
    border: 3px solid;
    cursor: pointer
}

li.navlist__item {
    list-style: none;
    border: none;
}

.navlist__link:hover {
    color: black;
    background-color: green;
    border: 3px solid;
    transition: background 0.3s , color 00.3s;
}

.navlist__link:active{
animation: transitionClose 1s;
}

ul {
    padding: 0
}

body {
    animation: transitionOpen 1s;
}

/* The End */

.p__end {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

/* GAME OVER */
.ul__gameover {
    display: flex;
}

.navlist__linkStop{
    color: red;
    text-decoration: none;
    padding: 5px 10px;
    border: 3px solid;
    cursor: pointer
}
.navlist__linkStop:hover {
    color: black;
    background-color: red;
    border: 3px solid;
    transition: background 0.3s , color 00.3s;
}

#frm__login {
    flex-direction: column;
    align-items: center;
}

#from__login input {
    padding: 30px;
}

/* https://www.youtube.com/watch?v=zWB219zf1og */

@keyframes transitionOpen {
    from {
        opacity: 0;
    }    
    to {
        opacity: 1;
    }
}

@keyframes transitionClose {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.keyword {
    color: white;
}


/* Health bar */
#healthBar {
    height: 20px;
    background-color:black;
    margin-bottom: 10px;
    display: flex;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    position: relative;
}
  
#healthBar .health {
    height: 100%;
    background-color: rgb(255, 8, 8);
    align-content: center;
    /* display:grid; */
    position: absolute;
}

#healthBar .health_text {
    position: absolute;
    font-weight: 300;
    font-size: 16px;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
}

#par__healthbar {
    color: rgb(0, 0, 0);
    font-size: initial;
}

#endingType {
    font-size: larger;
    color: red;
    font-weight: bolder;
}

/*responsive CSS by hiding imgenvironnement on smaller screens (e.g. mobile phone)*/

@media (min-width: 900px) {
    #imgEnvironnement {
        display: inline-block;
    }
}

.italic {
    font-style: italic;
}

.dead {
    color: red;
}